doctype
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= lang.site.title
  link(rel="stylesheet" href="/css/#{assets.app.css}")
  script.
    lang = "en"
  script(src="/js/#{assets.app.js}")
body

  #root

    header.root

      a.toggle-aside(onclick="showCharm('left')")
        span.mif-menu

      a.logo(href="/") SWOT:
      h1.name
        | #{example.sheets[0].title} &nbsp;
        small= example.sheets[0].description

    aside.root(data-role="charm" data-position="left" id="left-charm")

      header= lang.heading.aside

      figure.list-content.template
        span.list-title
        span.list-subtitle
        span.list-remark
          a.edit-title(href="#") Edit title
          | |
          a.delete(href="#") Delete

      .listview-outlook
        .list
          each sheet in example.sheets
            figure.list-content.active
              span.list-title= sheet.title
              span.list-subtitle= sheet.description
              span.list-remark
                a.edit-title(href="#") Edit title
                | |
                a.delete(href="#") Delete

      button.button.small-button.create-new(onclick="showDialog()")
        span.mif-plus &nbsp;
        | #{lang.button.create_new}

      div.button-group

        a.save.button.small-button(href="#")
          span.mif-file-download &nbsp;
          | #{lang.button.save}

        label.import.button.small-button(data-role="input")
          input(type="file")
          a
            span.mif-file-upload
            | #{lang.button.import}

        //- a.import.button.small-button(href="#")
        //-   span.mif-file-upload &nbsp;
        //-   | #{lang.button.import}

      footer.root

        p.copy!= lang.site.copyrights

    div#dialog(data-role="dialog" data-close-button="true" data-overlay="true"
      data-overlay-color="op-dark")
      h2= lang.button.create_new
      form#add-new(data-role="validator" data-on-submit="return false")
        .input-control.modern.text
          input(type='text' name="title" data-validate-func="minlength"
            data-validate-arg="6")
          span.label
            | Sheet title
            span.required *
          span.informer Desired name of new sheet
          span.placeholder
            | Input title
            span.required *
          span.input-state-error.mif-warning
          span.input-state-success.mif-checkmark
        .input-control.modern.text
          input(type='text' name="description")
          span.label
            | Sheet description
          span.informer Short information
          span.placeholder
            | Input description
        button.button(type="submit") Submit

    section.root

      .wrap

        .internal-label(data-text="internal")
        .external-label(data-text="external")

        section.internal.positive
          header <span>S</span>trengths
          div.editor!= example.sheets[0].internal.positive
          article

        section.internal.negative
          header <span>W</span>eaknesses
          div.editor!= example.sheets[0].internal.negative
          article

        section.external.positive
          header <span>O</span>pportunities
          div.editor!= example.sheets[0].external.positive
          article

        section.external.negative
          header <span>T</span>hreats
          div.editor!= example.sheets[0].external.negative
          article