doctype
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= lang.site.title
  link(rel="stylesheet" href="/css/#{assets.app.css}")
  script.
    lang = "en"
  script(src="/js/#{assets.app.js}")
body

  #root

    header.root

      a.toggle-aside(onclick="showCharm('left')")
        span.mif-menu

      a.logo(href="/") SWOT:
      h1.name
        | #{example.sheets[0].title} &nbsp;
        small= example.sheets[0].description

    aside.root(data-role="charm" data-position="left" id="left-charm")

      header= lang.heading.aside

      figure.list-content.template
        span.list-title
        span.list-subtitle
        span.list-remark
          a.edit-title(href="#")= lang.button.edit_title
          | |
          a.delete(href="#")= lang.button.delete

      .listview-outlook
        .list
          each sheet in example.sheets
            figure.list-content.active
              span.list-title= sheet.title
              span.list-subtitle= sheet.description
              span.list-remark
                a.edit-title(href="#")= lang.button.edit_title
                | |
                a.delete(href="#")= lang.button.delete

      button.button.small-button.create-new(onclick="showDialog()")
        span.mif-plus &nbsp;
        | #{lang.button.create_new}

      div.button-group

        a.save.button.small-button(href="#")
          span.mif-file-download &nbsp;
          | #{lang.button.save}

        label.import.button.small-button(data-role="input")
          input(type="file")
          a
            span.mif-file-upload
            | #{lang.button.import}

      footer.root

        p.copy!= lang.site.copyrights

    div#dialog(data-role="dialog" data-close-button="true" data-overlay="true"
      data-overlay-color="op-dark")

      form#add-new.create(data-role="validator" data-on-submit="return false")

        h2.create= lang.form.header.create
        h2.edit= lang.form.header.edit

        .input-control.modern.text
          input(type='text' name="title" data-validate-func="minlength"
            data-validate-arg="6")
          span.label
            | #{lang.form.title.label}
            span.required *
          span.informer= lang.form.title.informer
          span.placeholder
            | #{lang.form.title.placeholder}
            span.required *
          span.input-state-error.mif-warning
          span.input-state-success.mif-checkmark

        .input-control.modern.text
          input(type='text' name="description")
          span.label
            | #{lang.form.description.label}
          span.informer= lang.form.description.informer
          span.placeholder
            | #{lang.form.description.placeholder}

        button.button(type="submit")= lang.form.submit

    section.root

      .wrap

        .internal-label(data-text="internal")
        .external-label(data-text="external")

        section.internal.positive
          header!= lang.section_title.internal.positive
          div.editor!= example.sheets[0].internal.positive
          article

        section.internal.negative
          header!= lang.section_title.internal.negative
          div.editor!= example.sheets[0].internal.negative
          article

        section.external.positive
          header!= lang.section_title.external.positive
          div.editor!= example.sheets[0].external.positive
          article

        section.external.negative
          header!= lang.section_title.external.negative
          div.editor!= example.sheets[0].external.negative
          article